
<!-- <header>
        <a href="/"><img id="logo" src="../img/cf-logo.png" /></a>
            <nav>
                <ul>
                    <li> -->
    <!-- hamburger nav lines for mobile-->
                        <!-- <div class="line"></div>
                        <div class="line-middle"></div>
                        <div class="line"></div> -->
    <!-- hamburger nav lines for mobile-->
                    <!-- </li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/work.html">Work</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
</header> -->

<div id="global-navigation" class="header">
        <div class="headerNav">
            <a href="/"><img id="logo" src="../img/cf-logo.png" /></a>
                <a href="/about.html">About</a>
                <a href="/work.html">Work</a>
                <button><a href="/contact.html">Contact Me</a></button>
        </div>
    </div>