

    <div class="work">
        <div class="workGroup">
            <div id="truecar" class="rectangle">
                <a href="truecar.html"><img src="img/homepage-logos/truecar-logo.png"></a>
            </div>
            <div id="direct-buy" class="rectangle">
                <a href="directbuy.html"><img src="img/homepage-logos/direct-buy-logo.png"></a>
            </div>
            <div id="wienerschnitzel" class="rectangle">
                <a href="wienerschnitzel.html"><img src="img/homepage-logos/wienerschnitzel-logo.png"></a>
            </div>
            <div id="qlik" class="rectangle">
                <a href="qlik.html"><img src="img/homepage-logos/qlik-logo.png"></a>
            </div>
            <div id="xero" class="rectangle">
                <a href="xero.html"><img src="img/homepage-logos/xero-logo.png"></a>
            </div>
            <div id="wpromote" class="rectangle">
                <a href="wpromote.html"><img src="img/homepage-logos/wpromote-logo.png"></a>
            </div>
            <div id="princess-cruises" class="rectangle">
                <a href="princess-cruises.html"><img src="img/homepage-logos/princess-cruises-logo.png"></a>
            </div>
            <div id="monster" class="rectangle">
                <a href="monster.html"><img src="img/homepage-logos/monster-logo.png"></a>
            </div>
            <div id="chase" class="rectangle">
                <a href="chase.html"><img src="img/homepage-logos/chase-logo.png"></a>
            </div>
            <div id="brickhouse" class="rectangle">
                <a href="brickhouse.html"><img src="img/homepage-logos/brickhouse-logo.png"></a>
            </div>
        </div>
    </div>
