/*******************************/
/*/footer styling**************/
/*****************************/

footer {
    background-color:#343434;
    height:300px;
    padding:50px;
	}
.footer-content {
    display: grid;
    max-width: 800px;
    margin: 0 auto; 
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 1em;
}
.footer-col {
    display:grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: .5em;
    color:#ffffff;
    font-size: 14px;
	line-height: 2;
    font-weight: 100;
    margin-right:4.5%;
}
footer ul {
    list-style-type: none;
}
footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
	line-height: 2;
    font-weight: 100;
}

/*****************************************/
/* mobile footer*/
/***************************************/

@media screen and (max-width:450px) {

footer {
    display: none;
}
}
/* footer {
    height: 100%;
    clear:both;
      } 
    .footer-col {
      float:none;
    }
  
    #footer-content {
      margin-left:0;
      margin-top:3%;
    }
} */