
<div class="footer">
    <div class="footer-content">
        <div class="footer-col">
            <strong>ABOUT</strong>
                    <a href="/about.html">Me</a>
                    <a href="/work.html">My Work</a>
                    <a href="/contact.html" target="_top">My Contact Form</a>
        </div>
        <div class="footer-col">
            <strong>ELSEWHERE</strong>
                    <a href="https://twitter.com/thecartoonfood" target="_blank">Twitter</a>
                    <a href="https://www.linkedin.com/in/ryanmichaelfarrell/" target="_blank">Linked-In</a>
                    <a href="https://medium.com/cartoonfood" target="_blank">Blog</a>
        </div>
        <div class="footer-col">
            <strong>CONTACT</strong>
                    <a href="tel:2095918967">Phone: (310) 938-2779</a>
                    <a href="mailto:contact@cartoonfood.com?Subject=Hi%20Ryan, nice website." target="_top">Email me@cartoonfood.com</a>
                    <a href="https://cartoonfood.com" id="legal">© 2018 Cartoon Food.</a>
        </div>
    </div>
</div>
   
        