<div id="footer-content">
        <ul class="footer-col left">
            <li><strong>ABOUT</strong></li>
                    <li><a href="/about.html">Me</a></li>
                    <li><a href="/work.html">My Work</a></li>
                    <li><a href="/contact.html" target="_top">My Contact Form</a></li>
<!--                     <li><a href="/hire.html">Hire Me</a></li> -->
        </ul>
        <ul class="footer-col left">
            <li><strong>ELSEWHERE</strong></li>
                    <li><a href="https://twitter.com/thecartoonfood" target="_blank">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/ryanmichaelfarrell/" target="_blank">Linked-In</a></li>
                    <li><a href="https://github.com/captainspaceman" target="_blank">Github</a></li>
                    <li><a href="https://medium.com/cartoonfood" target="_blank">Blog</a></li>
        </ul>
        <ul class="footer-col left">
            <li><strong>CONTACT</strong></li>
                    <li>Phone: <a href="tel:2095918967">(310) 938-2779</a></li>
                    <li>Email: <a href="mailto:contact@cartoonfood.com?Subject=Hi%20Ryan, nice website." target="_top">me@cartoonfood.com</a></li>
        </ul>
        <p id="legal">© 2018 Cartoon Food.</p>
    </div>

<!--below is a grid template syling work in progress 10152018
    
    <div class="footer">
            <div class="footer-content">
                <div class="footer-col">
                    <strong>ABOUT</strong>
                            <a href="/about.html">Me</a>
                            <a href="/work.html">My Work</a>
                            <a href="/contact.html" target="_top">My Contact Form</a>
                </div>
                <div class="footer-col">
                    <strong>ELSEWHERE</strong>
                            <a href="https://twitter.com/thecartoonfood" target="_blank">Twitter</a>
                            <a href="https://www.linkedin.com/in/ryanmichaelfarrell/" target="_blank">Linked-In</a>
                            <a href="https://github.com/captainspaceman" target="_blank">Github</a>
                            <a href="https://medium.com/cartoonfood" target="_blank">Blog</a>
                </div>
                <div class="footer-col">
                    <strong>CONTACT</strong>
                            <p>Phone: <a href="tel:2095918967">(310) 938-2779</a></p>
                            <p>Email: <a href="mailto:contact@cartoonfood.com?Subject=Hi%20Ryan, nice website." target="_top">me@cartoonfood.com</a></p>
                <p id="legal">© 2018 Cartoon Food.</p>
            </div>
        </div>
    -->
        