* {
	box-sizing: border-box;
}

body {
    font-family: 'OpenSans', sans-serif;
}
/****************************/
/*text styling***************/
/****************************/ 
h1 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 7%;

}
h2 {
   	font-size: 24px;
   	font-weight: 400;
}
h3 {
   	font-size: 22px;
    font-weight: 400;
    text-align: center;
}
h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}
h5 {
    font-size: 15px;
    color:#343434;
    font-weight: 700;
    margin-bottom:-15px;
}

h6 {
    font-size: 10px;
    color:#343434;
    font-weight: 300;

}
p {
  	font-size: 15px;
  	color:#343434;
  	letter-spacing: -0px;
    line-height: 25px;
}

img {
  width:100%;
}

#timeline {
  width: 100%;
}

/*******************/
/* header styling
/*******************/

header {
	width:100%;
  background-color: rgba(355,355,355,.20);
  top:0px;
  position: fixed;
}

/*******************/
/* content styling
/*******************/


#wrapper {
    margin: auto;
}

.content-container {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  padding-bottom: 2%;
  padding-top: 2%;
}

.content-container a {
  text-decoration: none;
  color:#62C0E6;
}
/**************************/
/* end header styling
/*************************/

section a {
	text-decoration: none; 
	color: #343434;
}

aside a {
	text-decoration: none;
	color:#343434;
}

/***********************************/
/**styling for the category page***/
/*********************************/

#rectangle {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    border-style:solid;
    border-width: 2px;
    border-color: #f8f8f8;
    float:left;
    margin-left:5%;
    margin-bottom: 5%;
    transition: all .8s cubic-bezier(.25,.8,.25,1);
}

#rectangle a h3{

    padding:20% 0 20% 0;
    text-align: center;
    color:#343434;
    font-weight: 200;
}

#rectangle:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 20px rgba(0,0,0,0.22);
    background-color: #AED3DC;
    transform: translateY(-3px);

    
}

#rectangle:hover a h3 {
    color:#fff;
    font-weight: 200;

}


/****************************/
/* homepage hero styling ****/
/****************************/


.left {
	float:left;
}
.right {
	float:right;
}
.hero {
	 width:100%;
    padding: 200px 0px 200px 0px;
	  text-align: center;
    height: 100%;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9, #343434);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9, #343434); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}
.hero h1 {
    color: #343434 !important;
}
.hero h3 {
  margin-bottom: 5%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:5%;
  color:#343434 !important;
}
.primary-cta {
	font-size: 17px;
	font-weight:400;
  width: 100%;
  max-width:400px;
	border-radius: 50px;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
	padding: 20px;
	margin:auto;
  text-align: center;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}
.primary-cta:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.25);
  transform: translateY(-3px);
 }

.primary-cta a {
  color:#fff;
  padding-bottom: 15%;
}

.secondary-cta {
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    max-width: 400px;
    border-radius: 50px;
    /* background-color: #ffbc00; */
    background: linear-gradient(to right, #F37335, #FDC830);
    padding: 20px;
    text-align: center;
    margin: auto;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);

}

.secondary-cta:hover {
  box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
  transform: translateY(-3px);
}

.secondary-cta a {
  color:#fff;
  padding-bottom: 15%;

}

.lateral-blue-divider {
	padding: 40px 0px;
  text-align: center;
	width:100%;
  height: 150px;
  border-radius: 5px;
  /* background-color: #27DFFC; */
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom:solid 5px rgba(52,52,52,.2);
  box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);

}

/**********************************/
/*** Specila color styling***/
/********************************/

mark.white {
    color:#fff;
    background: none;
    
}

mark.blue {
    color:#ffbc00;
    font-weight: 700;
    background: none;
}

/***special color styling****/

#black {
  background-color:#343434;
  width:100%;
  height: 100%;
  margin: auto 0;
}
.grey {
  background-color: #f8f8f8;
  width:100%;
  height: 100%;
  margin: auto 0;
}
/******************************/
/*/article class styling
/******************************/
.article {
    width: 50%;
    margin: 0 auto;
    margin-top:5%;
/*    margin-bottom:5%;*/
    max-width: 650px;
    min-width:320px;
    overflow: auto;
}

.article h1 {
    color:#343434;
}
.article h2 {
    color:#343434;
    text-align: left;
}
.article h3 {
    color:#343434;
    text-align: left;
}
.article ul {
    font-size: 15px;
    color: #343434;
    line-height: 25px;
    list-style:lower-norwegian;
}

.article img {
    margin: auto;
    width:100%;
}

.article p a {
   font-size: 15px;
    font-weight: 600;
    color: #008BC1;
}

/*image styling*/

.image-left {

  max-width: 50%;
  float: left;
  padding-top: 5%;
  padding-right:5%;
  padding-bottom:5%;
  clear: right;

}

.image-right {
  max-width: 50%;
  float: right;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom:5%;
  clear: left;

}

 hr {
  border:solid 2px #f8f8f8;
  margin-bottom: 10%;
  margin-top:10%;

 }

/**************************************/
/****fun little fucking gradients*****/
/************************************/

.gradient-one {

  width:100%;
  background-color:#00B4CE; 
  height: 10px;
}

.gradient-two {

  width:100%;
  background-color:#008C9F; 
  height: 10px;
}

.gradient-three {
  width:100%;
  background-color:#005F6C; 
  height: 10px;
}

/******************************/
/*****begin example styling****/
/******************************/

.example {
    
    padding-top:5%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
    background-color:#fff;
    border-radius: 5px;
    margin:auto;
    width:100%;
    margin-bottom: 50px;
    margin-top: 50px;
    vertical-align: middle;
    overflow:hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.example h5 {
    
    font-style: italic;
    font-weight: 100;
    margin-bottom:20px;
    padding-left:5%;
    padding-right:5%;
    font-size: 20px;
    line-height: 30px;

}

.example h6 {
  
  font-style: italic;
  padding-left:5%;
  padding-right:5%;

}

.example p {
  padding-left:5%;
  padding-right:5%;
  color: #343434;
}

.wideexample {
    
    padding:7%;
    background-color:#fff;
    border-radius: 5px;
    margin:0 auto;
    width:85%;
    margin-bottom: 50px;
    margin-top: 50px;
    vertical-align: middle;
    overflow:hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.wideexample h5 {
    
    font-style: italic;
    font-weight: 100;
    margin-bottom:20px;
    padding-left:5%;
    padding-right:5%;
    font-size: 20px;
    line-height: 30px;

}

.wideexample h6 {
  
  font-style: italic;
  padding-left:5%;
  padding-right:5%;

}

.wideexample p {
  padding-left:5%;
  padding-right:5%;
  color: #343434;
}

/***********************/
/*about section*/
/*********************/

.about {

  width:100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;

}

.about-white {
  width: 100%;
  float:left;
  padding: 9%;
  background: #fff;

}

.about-blue-top {
  width: 100%;
  float:left;
  padding: 9%;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9, #343434);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9, #343434); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
.about-blue-bottom {
  width: 100%;
  float:left;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 9%;
  padding-bottom:0;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9, #343434);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9, #343434); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

.phase-one {

  float:right;
  width: 60%;
  height: 40%;
}

.about-content {
float: left;
width: 35%;
margin-top: 25px; 
min-width: 300px; 
padding: 3%; 
}


.phase-two {
  float:left;
  width: 60%;
  height: 40%;

}

.right {
  float:right;
  text-align:left;
}

.phase-three {
 float: left;
  width: 60%;
  height: 40%;

}

/****************************************/
/*form styling*current as of 04-26-2017*/
/*functionality of the form comes from*/
/*https://formspree.io/***************/
/************************************/

input, textarea, select{
  display: block;
}

input {
  margin-bottom:2em;
  margin-top:2em;
  padding:15px;
}
input[type="text"] {
  width: 300px;
  background:#f8f8f8;
  color:#000000;
  border-radius:5px;
    font-size: 15px;
}
input[type="email"] {
  width: 300px;
  background:#f8f8f8;
  color:#000000;
  border-radius:5px;
    font-size: 15px;
}
input[type="tel"] {
  width: 300px;
  background:#f8f8f8;
  color:#000000;
  border-radius:5px;
    font-size: 15px;
}
#details {
  width: 300px;
  height: 100px;
  background:#f8f8f8;
  color:#000000;
  border-radius:5px;
  font-size: 15px;
  padding:15px;
}
input[type="radio"]{
  display:inline-block;
  background:blue;
}

/************************/
/** begin submit button styling ***/
/***********************/

#submit {
  width:100%;
  height: 72px;
  background-color: #ff9500;
  border-radius: 50px;
  border:none;
  font-family: 'OpenSans' 'sans-serif';
  font-size: 20px;
  font-weight: bold;
  color:#ffffff;
}

/************************/
/** end submit button styling ***/
/***********************/

input[type="radio"]+label::before{ 
  content:"";
  display:inline-block; 
  width:1em;
  height:1em;
  background:blue;
}

input[type="radio"]:checked+label::before{
  content:"\2713";
  text-align:center;
  background:green;
  color: white;
}
input[type="radio"]{
  display:none;
}
#contact-form {
  display:block;
  text-align:center;
}
form {
  display:inline-block;
  margin:0 auto;
  text-align:left;
}
#contact-content {
  width:25%;
  min-width: 300px;
  max-width: 350px;
  margin:0 auto;
  padding-top:5%;
}
/***********************/
/*end form style sheet*/
/*********************/
/***********************/
/*begin styling of the hamburger menu on desktop*/
/*********************/


.line {
    margin-left: 10px;
    display:block;
    width:30px;
    height:5px;
    border-radius:100px;
    margin-bottom:5px;
    background-color:#55C6E8;
}

.line-middle {
    display:block;
    width:50px;
    height:5px;
    border-radius:100px;
    margin-bottom:5px;
    background-color:#55C6E8;
}


/*********************/
/********************/
/*ipad css layout*/
/******************/
/*****************/

@media screen and (max-width:1200px) {

.phase-three {
  width:100%;
  float:none;
}

.about-content {
  width:100%;
  padding: 0px 30px 0px 30px;
}

.phase-two {
  width:100%;
  min-width:300px;
  float:none;
}

.phase-one {
  width:100%;
  float:none;
}

.about p {
  padding-bottom: 5%;

}


}

/*********************/
/********************/
/*mobile css layout*/
/******************/
/*****************/


@media screen and (max-width:400px) {

#homeTimeline {
  display: none;
}
.wrapper {
    position: relative;
}

.avatar {
  display: none;
}

/********************************/
/* start: hero mobile styling  */
/******************************/

  .hero {
    padding: 75px 0px 75px 0px;
    height: 100%;
  }
  .hero h1 {
    font-size: 25px;
    padding: 5%;

  }
  .hero h3 {
    font-size: 16px;
    padding: 5%;

  }
  .hero-text {
    max-width: 300px;
    margin: auto;
  }


/***********************/
/* hamburger visible  */
/*********************/

nav ul li:first-child {
    display: block;
}

nav.show {
    height:9em;

  }

nav {
  float:none;
  display: inline-block;
  width:100%;
  text-align: center;
  transition: 1s;
  height: 0;
  overflow: hidden;

}

nav ul {
  display: block;
  padding-right: 10%;
}

nav ul li {
  float:none;
}

nav ul li:first-child {
  display: block;

}

nav ul li:first-child:hover{
  cursor:pointer;
}

/**********************/
/* mobile work page **/
/********************/

#rectangle {
  margin-left:0px;
  width: 100%;
  height: 180px;
}

/*********************************/
/* mobile article*/
/*******************************/

.article {
  width:80%;
  min-width:300px;

}

.article h1{
  font-size:18px;
  padding-top:25%;
  line-height: 30px;

}

.article h2, .article h3{
  font-size:24px;
}
.article p {
  font-size:14px;
  line-height: 23px;
  margin:10%;
}

.article ul {
  font-size:16px;
  line-height: 28px;

}

.about p {

    font-size: 14px;
    color: #343434;
    letter-spacing: -0px;
    line-height: 23px;
    padding-bottom: 20px;

}

.about h2 {
    font-size: 22px;
    font-weight: 400;
}

.about-content {
  float:none;
  width:100%;
  min-width: 300px;
}

/**********************************/
/*****Mobile button styling*******/
/********************************/

.primary-cta {
    width: 250px;
    height: 55px;
    font-size: 14px;
}

.secondary-cta {
    width: 250px;
    height: 55px;
    font-size: 14px;
}
}