
                        <section class="wideexample">
                            <div id="container">
                                <div id="rectangle">
                                    <a href="truecar.html"><img src="img/homepage-logos/truecar-logo.png"></a>
                                </div>
                                <div id="rectangle">
                                    <a href="directbuy.html"><img src="img/homepage-logos/direct-buy-logo.png"></a>
                                </div>
                                <div id="rectangle">
                                    <a href="wienerschnitzel.html"><img src="img/homepage-logos/wienerschnitzel-logo.png"></a>
                                </div>
                                <div id="rectangle">
                                    <a href="xero.html"><img src="img/homepage-logos/xero-logo.png"></a>
                                </div>
                                <div id="rectangle">
                                    <a href="wpromote.html"><img src="img/homepage-logos/wpromote-logo.png"></a>
                                </div>
                                <div id="rectangle">
                                    <a href="princess-cruises.html"><img src="img/homepage-logos/princess-cruises-logo.png"></a>
                                </div>
                                <div id="rectangle">
                                    <a href="monster.html"><img src="img/homepage-logos/monster-logo.png"></a>
                                </div>
                                <div id="rectangle">
                                    <a href="chase.html"><img src="img/homepage-logos/chase-logo.png"></a>
                                </div>
                                <div id="rectangle">
                                    <a href="brickhouse.html"><img src="img/homepage-logos/brickhouse-logo.png"></a>
                                </div>
                            </div>
                        </section>